django
psycopg2-binary
supabase
gunicorn
whitenoise
django-extensions
python-decouple
django-cors-headers
django-csp
django-axes
bleach>=6.0.0
python-magic
django-ckeditor 
requests
pillow
djangorestframework
openai==2.44.0
whitenoise==6.12.0
argon2-cffi
pyotp
qrcode[pil]
cryptography