{% extends "admin/base_site.html" %}

{% block content %}
<div id="content-main">
  {% if error %}
    <p class="errornote">{{ error }}</p>
  {% endif %}
  <form action="{% url 'access_control:staff_login' %}" method="post" id="login-form">
    {% csrf_token %}
    <div class="form-row">
      <label for="id_username">Username:</label>
      <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
    </div>
    <div class="form-row">
      <label for="id_password">Password:</label>
      <input type="password" name="password" autocomplete="current-password" required id="id_password">
    </div>
    <input type="hidden" name="next" value="{{ next }}">
    <div class="submit-row">
      <input type="submit" value="Log in">
    </div>
  </form>
</div>
{% endblock %}
